body{
          font-family: 'lato', sans-serif;
          font-family: 'Open Sans', sans-serif;
}
.text-primary{
          color: rgb(255, 111, 0);
}
.btn-primary{
          border-radius: 5px;
          color: #ffffff;
          background-color: rgb(255, 111, 0);
          border: 20px;
          font-size: 20px;
          padding: 15px 35px;
          font-weight: 10px;
}
nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 200px;

}
.nav{
          color: rgb(181, 139, 139);
          font-family:Open Sans;
          font-size: 45px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
}
.nav-title{
          color: #181818;
          font-size: 45px;
          font-weight: 80px;
}
nav ul{
          display: flex;}
nav li{
          list-style: none;
          margin-right: 100px;
}
nav a{
          text-decoration: none;
          color: rgb(5, 4, 4);
}
header{
          background-color: #fff8ff;
          background-image: url("../images/circular.png");
          background-repeat: no-repeat;
          background-position: bottom right  ;
          background-color: burlywood;
}
.banner{
          padding: 30px 30px 0px 150px ;
          display: flex; align-items: center;
          justify-content: space-between;
}
.banner .profile-pic{
          width: 500px;  }
.banner-greeting{ font-size: 45px;
          color: #474747;
          margin-bottom: 0;
          
}
.banner-title{
          font-size: 85px;
          font-style: normal;
          font-weight: 700;
          margin-top: 5px;
          margin-bottom: 20px;
}
.banner-content{
          max-width: 500px;
          
}
main{|
max-width: 1140px;
margin: 0px auto;
}

.section-title{
          color:  #181818;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
}
.section-description{
          color: #757575;
          text-align: center;
          font-family: open sans;
          font-size: 18px;
}
.about{
          padding: 130px;
          border-radius: 10px;
          background-color: #b85a4692 ;
          margin: 130px 0;

}
.about-info-container{
          display: flex;
          justify-content: space-around;
}
.about-info{
          text-align: center;

}
.info-description{
          text-justify: auto;
          font-size: small;
}